<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zmm.mapper.TeacherInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zmm.domain.TeacherInfo" >
    <id column="t_id" property="tId" jdbcType="VARCHAR" />
    <result column="t_name" property="tName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    t_id, t_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from teacher
    where t_id = #{tId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from teacher
    where t_id = #{tId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zmm.domain.TeacherInfo" >
    insert into teacher (t_id, t_name)
    values (#{tId,jdbcType=VARCHAR}, #{tName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zmm.domain.TeacherInfo" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        t_id,
      </if>
      <if test="tName != null" >
        t_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        #{tId,jdbcType=VARCHAR},
      </if>
      <if test="tName != null" >
        #{tName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zmm.domain.TeacherInfo" >
    update teacher
    <set >
      <if test="tName != null" >
        t_name = #{tName,jdbcType=VARCHAR},
      </if>
    </set>
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zmm.domain.TeacherInfo" >
    update teacher
    set t_name = #{tName,jdbcType=VARCHAR}
    where t_id = #{tId,jdbcType=VARCHAR}
  </update>
</mapper>